<h1>
    <%= @user.first_name  %> <%= @user.last_name %>
</h1>

<p>
    <%= "#{@user.age} years"%>
</p>

<blockquote>
    <%= @user.description %>
</blockquote>

<p> You can contact me by <a href="mailto:<%= @user.email %>">email</a> </p>
<p> I live in <a href="/cities/<%= @user.city.id %>"><%= @user.city.name %></a></p>

<% if @user.gossips.count > 0 %>
<p>
    Here are my gossips :
</p>

<p>
    <% @gossips.each do |gossip| %>
        <p>
          <% if gossip.user_id == @user.id then %>
          <a href="/gossip/<%= gossip.id.to_i %>"><%= gossip.title %></a>
        </p>
      <% end %>
    <% end %>
</p>
<% end %>

